name: Lint Python code

on:
  push:
  pull_request:

jobs:
  pylint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - run: pip install poetry

      - run: poetry install

      - name: Run Pylint
        run: poetry run pylint src/kattis
